/* CSS declarations go here */
body {background-image: url('/bright_squares.png')}

input.grid { 
  width: 34px;
  height: 32px;
  font-size: 24px;
  font-family: 'Quantico', sans-serif;
  text-align: center;
  display: block;
  border: 1px solid #666;
  position: absolute;
}

input.grid:disabled {color: black}
form {
  color: #aaa;
  font-size: 12px;
  font-family: 'Quantico', sans-serif;
  text-align: center;
  padding: 10px 0;
}

h1 {
  text-align: center;
  font-family: 'Quantico', sans-serif;
  font-size: 40px;
  position: relative;
  left: -77px;
}

#sidebar {
  float: right;
}

input#name{ 
  width: 112px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
  padding: 3px;
}

input#join {
  display: inline-block;
  padding: 3px 20px 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #aa0000;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  background-image: -webkit-linear-gradient(#ff6666, #dd2222);
  background-image: -moz-linear-gradient(#ff6666, #dd2222);
  cursor: pointer
}

#dashboard {
  width: 480px;
  margin: 40px auto;
}

#rank {
  font-family: 'Quantico', sans-serif;
}

#rank tr {border-bottom: 1px solid gray}
#rank td:first-child {width: 70px}
#rank td:last-child {width: 40px;text-align: right}
#rank .current {position: absolute;margin-left: -15px}

#sudoku {
  border: 1px solid #666;
  width: 324px;
  height: 324px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.grid[data-row="0"] {margin-top: 0px;}
.grid[data-row="1"] {margin-top: 36px;}
.grid[data-row="2"] {margin-top: 72px;}
.grid[data-row="3"] {margin-top: 108px;}
.grid[data-row="4"] {margin-top: 144px;}
.grid[data-row="5"] {margin-top: 180px;}
.grid[data-row="6"] {margin-top: 216px;}
.grid[data-row="7"] {margin-top: 252px;}
.grid[data-row="8"] {margin-top: 288px;}


.grid[data-col="0"] {margin-left: 0px;}
.grid[data-col="1"] {margin-left: 36px;}
.grid[data-col="2"] {margin-left: 72px;}
.grid[data-col="3"] {margin-left: 108px;}
.grid[data-col="4"] {margin-left: 144px;}
.grid[data-col="5"] {margin-left: 180px;}
.grid[data-col="6"] {margin-left: 216px;}
.grid[data-col="7"] {margin-left: 252px;}
.grid[data-col="8"] {margin-left: 288px;}


.grid[data-block="0"] {background-color: #eee}
.grid[data-block="1"] {background-color: #fcfcfc}
.grid[data-block="2"] {background-color: #eee}
.grid[data-block="3"] {background-color: #fcfcfc}
.grid[data-block="4"] {background-color: #eee}
.grid[data-block="5"] {background-color: #fcfcfc}
.grid[data-block="6"] {background-color: #eee}
.grid[data-block="7"] {background-color: #fcfcfc}
.grid[data-block="8"] {background-color: #eee}

#sudoku input.grid.error {background-color: #fcc}
